/* default 
///////////////////////// */
*{
  box-sizing: border-box;
}
html{
  font-family: 'Inter',sans-serif;
  font-size: 62.5%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

ul {
  list-style: none;
}
h1,h2,h3,h4,ul{

  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 75%;
  margin: 0 auto;
}
:root{
  --primary: #FEB34F;        
  --text-primary: #505961;   
  --text-secondary: #505961; 
  --nav-bg: #24282B;         
  --hero-bg: #F9F9FA;       
  --features-bg: #E1E2E4;    
  --footer-bg: #24282B; 
}
img{
  width: 2rem;
  height: 2rem;
}
/* header 
/////////////////////// */
.header-container{
  width: 80%;
  margin: 0 auto;
}
.header{
  background-color: var(--nav-bg);
  height: 6.4rem;
  width: 100%;
  padding: 1.6rem 0;
}
.logo-img{
  width: 1.6rem;
  height: 2.2rem;
}

.header-nav{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo-text{
  font-size: 2rem;
  background: linear-gradient(to left,#FFFFFF,var(--primary));
  background-clip: text;
  color: transparent;
}
.nav{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.nav > ul {
  display: flex; 
  gap: 1.2rem;
}
.nav > ul > li > a{
  color: #E1E2E4;
  font-size: 1.4rem;
  font-weight: 200;
}
.theme-btn{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #505961;
  border: none;
  padding: 0.2rem;
  transition: 0.3s;
}
.theme-btn:hover{
  background-color: #313436;
}
.theme-icon{
  width: 1.4rem;
  height:1.4rem;
}
.download-btn{
  padding: 0.8rem;
  background-color: var(--primary);
  font-weight: 700;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.download-btn:hover{
  background-color: #f9a940;
}
/* Main.hero section
/////////////////////// */
.hero{
  padding: 6.2rem;
  background-color: var(--hero-bg);
  height: 50%;

}
.hero-section{
  display: flex;
  gap: 2.4rem;
}

.hero-intro{
  width: 60%;
  padding-top: 1.2rem;
}
.hero-headline{
  font-size: 2rem;
  line-height: 1.1;
}
.hero-text-lightz{
  font-size: 3.2rem;
  color: var(--primary);
}
.hero-pararagh{
  line-height: 1.1;
  letter-spacing: 0.02rem;
  font-size: 1.2rem;
  margin-top: 1.2rem;
  font-weight: 400;
}
.hero-img{
  width: 40%;
  height: 100%;
  border-radius: 1rem;
}
.hero-btn{
  padding: 1.2rem;
  color: #FFFFFF;
  background-color: var(--primary);
  border: none;
  border-radius: 0.5rem;
  margin-top: 1.2rem;
  transition: 0.3s;
  font-weight: bold;
  letter-spacing: 0.03rem;
}
.hero-btn:hover{
  background-color: #f9a940;
}

/* Main.features section
/////////////////////// */

.features{
  background-color: var(--features-bg);
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  text-align: center;
  height: 50%;
}
.features-headline{
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 4.8rem;
  font-size: 2.4rem;
}
.features-content{
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.2fr 0.2fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4.8rem.;rem 
}
.features-content > div:first-child{
  grid-area: 1 / 1 / 2 / 3;
}
.features-content > div:nth-child(2){
  grid-area: 1 / 4 / 2 / 6;
}
.features-content > div:nth-child(3){
  grid-area: 2 / 2 / 2 / 4;
}
.features-content > div:last-child{
  grid-area: 2 / 5 / 2 / 7;
}
.features-item{
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.features-icon{
  width: 2.4rem;
  height: 2.4rem;
  /* border: 2px solid #a8b4bc;
  padding: 8px;
  border-radius: 100px;   */
}
.features-icon-div{
  width: 6.2rem;
  height: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.8rem;
  border: 0.2rem solid #a8b4bc;
  background-color: var(--features-bg);
  border-radius: 100%;
}
.features-text-div{
  text-align: left;
}
.features-text-div h3{
  font-size: 1.4rem;
  color: var(--text-primary);
}
.features-text-div p{
  font-size: 1rem;
  color: var(--text-secondary  );
}

/* footer
/////////////////////// */
.footer{
  background-color: var(--footer-bg);
  padding: 4.8rem;
  /* position:fixed;
  width: 100%;
  bottom: 0; */
}
.footer-content{
  display: flex;
  justify-content: space-around;
  align-content: center;
  
}
.footer-content > ul > li > a{
  color: #F9F9FA;
  font-size: 1.2rem;
  line-height: 1.5;
}