/* default 
///////////////////////// */
*{
  box-sizing: border-box;
}
html{
  font-family: 'Inter',sans-serif;
}
body{
  margin: 0;
}
ul {
  list-style: none;
}
h1,h2,h3,h4,ul{

  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.container{
  width: 768px;
  margin: 0 auto;
}
:root{
  --primary: #FEB34F;        
  --text-primary: #FFFFFF;   
  --text-secondary: #A5B4BC; 
  --nav-bg: #24282B;         
  --hero-bg: #343A3D;       
  --features-bg: #3D4346;    
  --footer-bg: #24282B; 
}
img{
  width: 20px;
  height: 20px;
}
/* header 
/////////////////////// */
.header-container{
  width: 968px;
  margin: 0 auto;
}
.header{
  background-color: #24282B;
  height: 64px;
  width: 100%;
  padding: 16px 0;
}
.logo-img{
  width: 16px;
  height: 22px;
}

.header-nav{
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  gap: 4px;
}
.nav{
  display: flex;
  align-items: center;
  gap: 8px;
}
.nav > ul {
  display: flex; 
  gap: 8px;
}
